<div id="education">
  <h2>Education</h2>
  <ul>
    <li>
      <a href="https://www.gatech.edu/" target="_blank"
        ><strong>Georgia Institute of Technology</strong></a
      >
      <ul>
        <li>
          <strong>MS Computer Science</strong><br />
          <weak>Aug 2023 - now</weak>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://www.sutd.edu.sg/" target="_blank"
        ><strong>Singapore University of Technology and Design</strong></a
      >
      <ul>
        <li>
          <strong>BEng Computer Science and Design</strong><br />
          <weak>May 2014 - Sept 2017</weak>
          <p>
            I was president of the student government and TA-ed several courses.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</div>
