---
interface SkillItem {
  name: string;
  items: string[];
}

interface SkillCategory {
  name: string;
  subcategories: SkillItem[];
}

const skillCategories: SkillCategory[] = [
  {
    name: "Languages",
    subcategories: [
      {
        name: "Familiar with",
        items: ["Python", "Golang", "C#", "SQL", "Bash", "[HTML, CSS, JS/TS]"],
      },
      {
        name: "Obsessed with",
        items: ["Elixir"],
      },
      {
        name: "Acquired with",
        items: ["Rust", "Java", "C", "C++"],
      },
    ],
  },
  {
    name: "Dev",
    subcategories: [
      {
        name: "Backend",
        items: ["Express", "Flask", "FastAPI", "Litestar", "go-chi"],
      },
      {
        name: "Frontend",
        items: ["HTMX", "React"],
      },
      {
        name: "Fullstack",
        items: ["Phoenix"],
      },
      {
        name: "Linux",
        items: ["Ubuntu", "NixOS"],
      },
      {
        name: "VCS",
        items: ["Git", "Jujutsu", "Perforce"],
      },
      {
        name: "Database",
        items: ["Postgres", "DynamoDB"],
      },
      {
        name: "Workflow orchestration",
        items: ["Airflow", "Argo", "Temporal"],
      },
    ],
  },
  {
    name: "Ops",
    subcategories: [
      {
        name: "Cloud",
        items: ["AWS", "GCP", "Digital Ocean", "Fly.io"],
      },
      {
        name: "Workload orchestration",
        items: ["Kubernetes", "Nomad"],
      },
      {
        name: "Infra-as-code",
        items: ["Ansible", "Terraform", "Helm", "PKL", "Nix"],
      },
      {
        name: "Virtualisation",
        items: ["Proxmox", "Hyper-V"],
      },
      {
        name: "Networking",
        items: ["OPNsense", "Wireguard"],
      },
      {
        name: "CI/CD",
        items: ["ArgoCD", "Gitlab CI/CD", "Github Actions"],
      },
      {
        name: "Observability",
        items: [
          "Vector",
          "Grafana",
          "Prometheus",
          "VictoriaMetrics",
          "Honeycomb",
        ],
      },
    ],
  },
];
---

<div id="skills">
  <h2>Skills</h2>
  <ul>
    {
      skillCategories.map((category) => (
        <li>
          <strong>{category.name}</strong>
          <ul>
            {category.subcategories.map((subcategory) => (
              <li>
                <strong>{subcategory.name}</strong>:{" "}
                {subcategory.items.join(", ")}
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</div>
