<div id="skills">
  <h2>Skills</h2>
  <ul>
    <li>
      <strong>Languages</strong>
      <ul>
        <li>
          <strong>Used these for work</strong>: Python, Golang, C#, SQL, Bash,
          [HTML, CSS, JS/TS]
        </li>
        <li><strong>Used these for studies</strong>: Java, C, C++</li>
        <li>
          <strong>Used these for side projects</strong>: Elixir, Rust
        </li>
      </ul>
    </li>
    <li>
      <strong>Dev</strong>
      <ul>
        <li>
          <strong>Backend</strong>: Express, Flask, FastAPI, Litestar, go-chi
        </li>
        <li><strong>Frontend</strong>: HTMX, React</li>
        <li><strong>Fullstack</strong>: Phoenix</li>
        <li><strong>Linux</strong>: Ubuntu, NixOS</li>
        <li><strong>VCS</strong>: Git, Jujutsu, Perforce</li>
        <li><strong>Database</strong>: Postgres, DynamoDB</li>
        <li>
          <strong>Workflow orchestration</strong>: Airflow, Argo, Temporal
        </li>
      </ul>
    </li>
    <li>
      <strong>Ops</strong>
      <ul>
        <li>
          <strong>Cloud</strong>: AWS, GCP, Digital Ocean, Fly.io
        </li>
        <li>
          <strong>Workload orchestration</strong>: Kubernetes, Nomad
        </li>
        <li>
          <strong>Infra-as-code</strong>: Ansible, Terraform, Helm, PKL, Nix
        </li>
        <li><strong>Virtualisation</strong>: Proxmox, Hyper-V</li>
        <li><strong>Networking</strong>: OPNsense, Wireguard</li>
        <li>
          <strong>CI/CD</strong>: ArgoCD, Gitlab CI/CD, Github Actions
        </li>
        <li>
          <strong>Observability</strong>: Vector, Grafana, Prometheus,
          VictoriaMetrics, Honeycomb
        </li>
      </ul>
    </li>
  </ul>
</div>
