<div id="volunteering">
  <h2>Volunteering</h2>
  <ul>
    <li>
      <a href="https://orchestra.sg" target="_blank"
        ><strong>Orchestra of the Music Makers</strong></a
      >
      <ul>
        <li>
          <strong>Tech Lead</strong><br />
          <weak>Nov 2019 - now</weak>
          <p>I build tools to improve orchestra management workflows.</p>
        </li>
        <li>
          <strong>Board Member</strong><br />
          <weak>Nov 2020 - Oct 2023</weak>
          <p>I supported administrative and concert operations.</p>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://www.tpo.org.sg/" target="_blank"
        ><strong>The Philharmonic Orchestra</strong></a
      >
      <ul>
        <li>
          <strong>Orchestra Management</strong><br />
          <weak>Sept 2018 - Nov 2019</weak>
          <p>
            I recruited a new management committee and led several projects.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <strong
        ><a href="https://www.sutd.edu.sg/" target="_blank"
          >Singapore University of Technology and Design</a
        ></strong
      >
      <ul>
        <li>
          <strong>ISTD Alumni Advisory Board Chair</strong><br />
          <weak>July 2024 - now</weak>
          <p>I recruited members for the board.</p>
        </li>
        <li>
          <strong>Alumni Association Secretary</strong><br />
          <weak>Jan 2019 - Sept 2019</weak>
          <p>
            I assembled the founding committee and led the pilot fundraiser,
            which raised $100,000.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</div>
