<div id="work">
  <h2>Work</h2>
  <ul>
    <li>
      <a href="https://bifrost.ai" target="_blank"><strong>Bifrost</strong></a>
      <ul>
        <li>
          <strong>Platform Engineer</strong><br />
          <weak>Jan 2022 - now</weak>
          <p>
            High-quality computer vision models are trained on high-quality
            data, which can be hard to obtain. Bifrost specialises in using 3D
            graphics techniques to generate perfectly labelled, photorealistic
            synthetic data.<br /><br />
            We have a diverse tech stack, including webapps, 3D applications (Unreal,
            Blender, Houdini), streaming servers, ML pipelines. I design how everything
            is pieced together, and solve infrastructure challenges, such as how
            to run GPU-enabled Windows containers on Kubernetes.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://motional.com" target="_blank"
        ><strong>Motional</strong></a
      >
      <ul>
        <li>
          <strong>Site Reliability Engineer</strong><br />
          <weak>May 2020 - Jan 2022</weak>
          <p>
            At some point, Motional became big enough to warrant the creation of
            an SRE team. I created a central monitoring stack, standardised
            observability practices across all engineering teams, and maintained
            several Kubernetes clusters and hundreds of AWS accounts.
          </p>
        </li>
        <li>
          <strong>Backend Engineer</strong><br />
          <weak>May 2018 - May 2020</weak>
          <p>
            Autonomous vehicles encounter unexpected events all the time, so the
            Fleet team created a
            <a
              href="https://motional.com/news/controlling-fleet-motionals-command-center-gives-detailed-glimpse-av-performance"
              target="_blank">Command Center</a
            >
            to keep an eye on them and troubleshoot them when they misbehave. I was
            their first backend engineer, and grew it from a simple monitoring tool
            into a full fleet management platform.<br /><br />
            It later became a key asset for our commerical ventures: I worked with
            engineers from
            <a
              href="https://www.forbes.com/sites/samabuelsamid/2022/10/06/motional-and-uber-announce-10-year-deal-to-deploy-automated-vehicles-in-multiple-us-markets/"
              target="_blank">Uber</a
            >,
            <a
              href="https://www.aptiv.com/en/newsroom/article/aptiv-launches-fleet-of-autonomous-vehicles-on-the-lyft-network"
              target="_blank">Lyft</a
            >, and
            <a
              href="https://techcrunch.com/2020/10/27/via-and-hyundai-aptiv-joint-venture-to-offer-shared-robotaxi-rides-next-year/"
              target="_blank">Via</a
            >
            to integrate our robotaxis into their networks.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://arup.com" target="_blank"><strong>Arup</strong></a>
      <ul>
        <li>
          <strong>Digital Consultant</strong><br />
          <weak>Sept 2017 - May 2018</weak>
          <p>
            Arup started an internal digital transformation movement, and
            employees with cool ideas were given budget and time to work on
            them. I helped many teams from the Consulting group turn their ideas
            into reality. <br /><br />
            My favourite project involved modelling the
            <a
              href="https://www.arup.com/news/arup-brings-design-to-life-with-industry-first-immersive-facility/"
              target="_blank">ExperienceLab</a
            >
            in VR to convince the MD that it would be worth the investment. Spoiler:
            it was.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</div>
