<div id="bio">
  <h1>Bio</h1>
  <p>
    I'm a <span class="text-var1">Software</span> Engineer! Sometimes I replace
    <span class="text-var1">Software</span> with either
    <span class="text-var2">Platform</span>,
    <span class="text-var2">DevOps</span>,
    <span class="text-var2">Site Reliability</span>,
    <span class="text-var2">Infrastructure</span>, or
    <span class="text-var2">Backend</span>, depending on who I'm talking to.
  </p>

  <p>Some things about me:</p>
  <ul class="intro">
    <li>
      I currently work at
      <a href="https://bifrost.ai/" target="_blank">Bifrost</a>, a startup that
      specialises in creating realistic digital worlds using 3D software, with a
      dash of AI. If you want to know more about what I do at work, check out my
      <a href="#resume">resume</a>.
    </li>
    <li>
      I have a
      <a
        href="https://istd.sutd.edu.sg/education/undergraduate/curriculum-overview"
        target="_blank">BEng in Computer Science and Design</a
      >
      from SUTD, and I'm currently pursuing a
      <a href="https://omscs.gatech.edu" target="_blank"
        >MS in Computer Science</a
      >
      from Georgia Tech.
    </li>
    <li>
      I enjoy tinkering with my dev setup. I use split ortho keyboards, polish
      my neovim configs every now and then, distro-hop for fun, and have a tiny
      homelab. This website uses a
      <a href="https://github.com/chaychoong/OpusOne" target="_blank"
        >font that I made</a
      >!
    </li>
    <li>
      I dabble in classical music. I have helped organise Wagner operas with the
      <a href="https://orchestra.sg" target="_blank"
        >Orchestra of the Music Makers</a
      >, high-fived Martha Argerich for sharing the same birthday, and automated
      backend processes for TwoSet Violin. I also occasionally play the viola in
      community orchestras, and practise piano duets with my wife.
    </li>
    <li>
      I love gaming! I've sunk more than 4000 hours in Dota, religiously
      purchase every generation of Pokémon games, and consider BotW/TotK to be
      the best games ever.
    </li>
  </ul>
</div>

<style>
  .intro li {
    margin-bottom: 2em;
  }
</style>
