---
import Landing from "./Landing.astro";
import Bio from "./Bio.astro";
import Resume from "./Resume.astro";
---

<Landing />
<div class="main">
  <div>
    <Bio />
    <hr />
    <Resume />
  </div>
</div>

<style>
  .main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 70rem;
  }

  hr {
    margin: 100px 0 20px 0;
    border: 0;
    border-bottom: 1px dashed var(--color-light);
  }
</style>
