---
import Landing from "./Landing.astro";
import Bio from "./Bio.astro";
import Resume from "./Resume.astro";
---

<Landing />
<div class="main">
  <div>
    <Bio />
    <hr />
    <Resume />
  </div>
</div>
