<div class="landing">
  <div class="ascii-container">
    <!-- Generated using https://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=chay -->
    <pre>
   ██████╗██╗  ██╗ █████╗ ██╗   ██╗
  ██╔════╝██║  ██║██╔══██╗╚██╗ ██╔╝
  ██║     ███████║███████║ ╚████╔╝ 
  ██║     ██╔══██║██╔══██║  ╚██╔╝  
  ╚██████╗██║  ██║██║  ██║   ██║   
   ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   
  </pre>
  </div>
  <div>
    <a href="#bio">bio</a>
    <span class="separator">|</span>
    <a href="https://blog.chay.dev">blog</a>
    <span class="separator">|</span>
    <a href="https://linkedin.com/in/chaychoong" target="_blank">linkedin</a>
  </div>
</div>
