---
import Work from "./resume/Work.astro";
import Education from "./resume/Education.astro";
import Volunteering from "./resume/Volunteering.astro";
import Skills from "./resume/Skills.astro";
---

<div id="resume">
  <h1>Resume</h1>
  <p>
    I have spent 7+ years designing and writing software professionally. I have
    experience across the full stack, but lean towards backend and
    infrastructure.
  </p>
  <Work />
  <Education />
  <Volunteering />
  <Skills />
</div>
